build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
*.temp
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/
comments.temp
CS2103-testsheet-comments.xlsx
workbook.temp
src/main/resources/.credentials/carvicim-gmail/
